		    <div class="foods">
		    	<ul>版权所有@2018 .模板收集自 <a href="http://www.liulinyan.com/" target="_blank" title="PHP中文网">燕子网</a> 
		        -  More Templates
		        <a href="http://www.php.cn/" title="网页模板" target="_blank">网页模板</a>
		      </ul>
		    	<dl><a href="" title="返回头部" class="am-icon-btn am-icon-arrow-up"></a></dl>  	
		    </div>
		</div>
	</div>
</div>
<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="{$base_path}/js/polyfill/rem.min.js"></script>
<script src="{$base_path}/js/polyfill/respond.min.js"></script>
<script src="{$base_path}/js/amazeui.legacy.js"></script>
<![endif]--> 
<!--[if (gte IE 9)|!(IE)]><!--> 
<script src="{$base_path}/js/amazeui.min.js"></script>
<!--<![endif]-->
</body>
</html>