<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Amaze UI Admin index Examples</title>
    <meta name="description" content="这是一个 index 页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="{$base_path}/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="{$base_path}/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="stylesheet" href="{$base_path}/css/amazeui.min.css"/>
    <link rel="stylesheet" href="{$base_path}/css/admin.css">
    <script src="{$base_path}/js/jquery.min.js"></script>
    <script src="{$base_path}/js/app.js"></script>
</head>
<body>
<!--[if lte IE 9]>
  <p class="browsehappy">升级你的浏览器吧！ <a href="http://se.360.cn/" target="_blank">升级浏览器</a>以获得更好的体验！</p>
<![endif]-->
<header class="am-topbar admin-header">
    <div class="am-topbar-brand"><img src="{$base_path}/i/logo.png"></div>
    <div class="am-collapse am-topbar-collapse" id="topbar-collapse">
        <ul class="am-nav am-nav-pills am-topbar-nav admin-header-list">

            <li class="kuanjie">
                 <volist name="menu" id="menuinfo">
                <a href="{:U($menuinfo['url'])}">{$menuinfo.name}</a>
                </volist>
                <a href="{:U('Login/loginout')}">退出</a>
            </li>
            <li class="am-hide-sm-only" style="float: right;">
                <a href="javascript:;" id="admin-fullscreen">
                    <span class="am-icon-arrows-alt"></span>
                    <span class="admin-fullText">开启全屏</span>
                </a>
            </li>
        </ul>
    </div>
</header>
<div class="am-cf admin-main">
    <div class="nav-navicon admin-main admin-sidebar">
        <div class="sideMenu am-icon-dashboard" style="color:#aeb2b7; margin: 10px 0 0 0;"> 欢迎您：{$username}</div>
        <div class="sideMenu">
            <volist name="menu" id="menuinfo">
                <h3 class="am-icon-flag {$menuinfo.open}"><em></em> <a href="#">{$menuinfo.name}</a></h3>
                <ul>
                <volist name="menuinfo['list']" id="menulist">
                    <li><a href="/admin/{$menulist.url}">{$menulist.name}</a></li>
                </volist>
                </ul>
            </volist>
        </div>
        <!-- sideMenu End -->
        <script type="text/javascript">
            jQuery(".sideMenu").slide({
            titCell:"h3", //鼠标触发对象
            targetCell:"ul", //与titCell一一对应，第n个titCell控制第n个targetCell的显示隐藏
            effect:"slideDown", //targetCell下拉效果
            delayTime:300 , //效果时间
            triggerTime:150, //鼠标延迟触发时间（默认150）
            defaultPlay:true,//默认是否执行效果（默认true）
            returnDefault:true //鼠标从.sideMen移走后返回默认状态（默认false）
            });
        </script>
    </div>